@config "../../tailwind.config.ts";
@import 'tailwindcss';

@layer base {
  :root {
    --bg: #19110d;
    --text-theme: #bfaf9b;
    --accentDarkGold: #7a5c32;
    --accentLightGold: #b9975b;
    --bg-btn: #bfaf9b;
    --text-btn: #19110d;
    --kakao: #bfaf9b;
  }

  html,
  body {
    @apply m-0 overflow-x-hidden overflow-y-auto bg-bg;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  html.no-scroll,
  body.no-scroll {
    overflow: hidden;
  }

  body {
    font-family: 'Roboto Serif';
  }
}

@layer components {
  .btn {
    @apply min-w-[130px] font-semibold text-sm text-text-btn block rounded-lg bg-bg-btn py-[16px] outline-none
      cursor-pointer transition-all duration-500 md:py-[24px]
     hover:bg-accentDarkGold  hover:text-kakao
      focus:bg-accentDarkGold focus:text-kakao;
  }

  .btnHero {
    @apply w-[280px] py-[16px] mb-[16px] md:py-[24px] md:mb-[24px] md:w-[400px] font-bold rounded-lg block
    bg-[radial-gradient(circle_at_center,#ffea7a_0%,#fff590_4%,#f6da63_15%,_38%,#be8b3c_64%,#7a5c32_100%)]
    cursor-pointer outline-none transition-all duration-500
    hover:bg-none hover:bg-accentDarkGold hover:text-kakao
    focus:bg-none focus:bg-accentDarkGold focus:text-kakao;
  }
  #fff590 .icon-btn {
    @apply inline-flex items-center justify-center cursor-pointer focus-visible:outline-none;
  }

  .icon {
    @apply text-xl text-text-theme transition-colors duration-500
      md:text-2xl
      group-hover:text-accentDarkGold
      group-focus:text-accentDarkGold;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
