@config "../../tailwind.config.ts";
@import 'tailwindcss';

@layer base {
  :root {
    --bg: #1f1411;
    --text-theme: #bfaf9b;
    --accent-dark-gold: #7a5c32;
    --accent-light-gold: #b9975b;
    --bg-btn: #bfaf9b;
    --text-btn: #1f1411;
    --kakao: #bfaf9b;
  }

  html,
  body {
    @apply m-0 overflow-x-hidden overflow-y-auto bg-bg;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  html.no-scroll,
  body.no-scroll {
    overflow: hidden;
  }

  body {
    font-family: 'Roboto Serif';
  }

  a {
    outline: none;
    display: inline-block;
  }
}

@layer components {
  .btn {
    @apply min-w-[130px] font-semibold text-sm text-text-btn block rounded-lg bg-bg-btn py-[16px] outline-none
      cursor-pointer transition-all duration-500 md:py-[24px]
     hover:bg-accent-dark-gold  hover:text-kakao
      focus:bg-accent-dark-gold focus:text-kakao;
  }

  .btnLanguage {
    @apply w-[28px] h-[28px] font-bold text-xs text-text-btn text-center block rounded-sm bg-accent-light-gold outline-none md:w-[32px] md:h-[32px] lg:text-sm  
      cursor-pointer transition-all duration-500
      hover:bg-accent-dark-gold  hover:text-kakao
      focus:bg-accent-dark-gold focus:text-kakao;
  }

  .btnHero {
    @apply font-bold rounded-lg block text-text-btn text-center text-base
    bg-[radial-gradient(circle_at_center,#ffea7a_0%,#fff590_4%,#f6da63_15%,_38%,#be8b3c_64%,#7a5c32_100%)]
    cursor-pointer outline-none transition-all duration-500
    hover:bg-none hover:bg-accent-dark-gold hover:text-kakao
    focus:bg-none focus:bg-accent-dark-gold focus:text-kakao;
  }

  .btnSecondary {
    @apply text-center font-bold rounded-lg block text-sm md:text-base text-kakao w-full border border-kakao p-[14px] rounded-lg
    bg-transparent
    cursor-pointer outline-none transition-all duration-500
    hover:bg-accent-dark-gold hover:text-kakao hover:border-accent-dark-gold
    focus:bg-accent-dark-gold focus:text-kakao focus:border-accent-dark-gold;
  }

  .iconBtn {
    @apply inline-flex items-center justify-center cursor-pointer focus-visible:outline-none;
  }

  .icon {
    @apply block text-text-theme transition-colors duration-500
      group-hover:text-accent-dark-gold
      group-focus:text-accent-dark-gold;
  }

  .listContact {
    @apply text-center mb-[16px] lg:text-left  space-y-[8px] md:mb-[0px];
  }

  .linkContact {
    @apply text-sm lg:text-base font-semibold text-center 
     text-text-theme transition-colors duration-500 hover:text-accent-dark-gold focus:text-accent-dark-gold;
  }

  .baseStyle {
    @apply text-sm font-semibold text-center cursor-pointer transition-colors duration-300 outline-none md:text-base lg:text-lg;
  }

  .activeStyle {
    @apply text-accent-light-gold;
  }

  .inactiveStyle {
    @apply text-text-theme hover:text-accent-dark-gold focus:text-accent-dark-gold;
  }

  .socialLink {
    @apply w-[32px] h-[32px] lg:w-[48px] lg:h-[48px] flex items-center justify-center rounded-sm transition-all duration-200 hover:border hover:border-[4px] hover:border-bg focus:border focus:border-[4px] focus:border-bg outline-none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
